.myFlexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
#mySnatchBotsTableBlock {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.snatchDeployButton {
    border: none;
    border-radius: 10px;
}
.myBotsList {
    max-height: 100vh;
    height: auto;
    overflow-y: auto;
}

.auth__body {
    color: #5e5e5e;
    font-weight: 300;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    height: calc(100% - 81px);
    overflow-x: hidden;
    overflow-y: auto;
}
.auth__header-box {
    display: flex;
    justify-content: space-between;
}
h2 {
    font-weight: 500;
    margin-top: 0;
    margin-bottom: .5rem;
    color: #5e5e5e;
}
.auth__header-hr {
    display: block;
    width: 80px;
    height: 4px;
    background-color: #0079fe;
}


.auth__content .mat-form-field {
    margin-top: 10px;
}
.mat-form-field {
    display: inline-block;
    position: relative;
    text-align: left;
}
.full-width, .full-width .mat-form-field, .full-width .mat-slider-horizontal {
    width: 100%;
    max-width: 100%;
}
.mat-form-field {
    font-size: inherit;
    font-weight: 400;
    line-height: 1.125;
    font-family: Roboto,"Helvetica Neue",sans-serif;
}
.mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-bottom: 1.25em;
}
.mat-form-field-appearance-legacy .mat-form-field-underline {
    height: 1px;
}
.mat-form-field-appearance-legacy .mat-form-field-underline {
    bottom: 1.25em;
    background-color: rgba(0,0,0,.42);
}

.mat-form-field-underline {
    position: absolute;
    width: 100%;
    pointer-events: none;
    transform: scaleY(1.0001);
}
.mat-form-field-subscript-wrapper {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
}
.mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: .4375em 0;
}
.mat-form-field-infix {
    display: block;
    position: relative;
    flex: auto;
    min-width: 0;
    width: 180px;
}
.mat-form-field-infix {
    padding: .5em 0;
    border-top: .84375em solid transparent;
}
.cdk-text-field-autofill-monitored:not(:-webkit-autofill) {
    -webkit-animation-name: cdk-text-field-autofill-end;
    animation-name: cdk-text-field-autofill-end;
}
.mat-input-element {
    font: inherit;
    background: 0 0;
    color: currentColor;
    border: none;
    outline: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 100%;
    vertical-align: bottom;
    text-align: inherit;
}

input {
    overflow: visible;
}

.mat-form-field-label-wrapper {
    position: absolute;
    left: 0;
    box-sizing: content-box;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
}
.mat-form-field-label-wrapper {
    top: -.84375em;
    padding-top: .84375em;
}
.mat-form-field .mat-form-field-label {
    color: #0079fe;
}
.mat-form-field-appearance-legacy .mat-form-field-label, .mat-form-field-appearance-legacy .mat-hint {
    color: rgba(0,0,0,.54);
}
.mat-form-field-appearance-legacy .mat-form-field-label {
    top: 1.28125em;
}
.mat-form-field-label {
    position: absolute;
    left: 0;
    font: inherit;
    pointer-events: none;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    transform-origin: 0 0;
    transition: transform .4s cubic-bezier(.25,.8,.25,1),color .4s cubic-bezier(.25,.8,.25,1),width .4s cubic-bezier(.25,.8,.25,1);
    display: none;
}
.mat-form-field-label, .mat-hint {
    color: rgba(0,0,0,.6);
}
form-field-invalid .mat-form-field-label .mat-form-field-required-marker, .mat-form-field.mat-form-field-invalid .mat-form-field-label.mat-accent {
    color: #f44336;
}
.mat-form-field-appearance-legacy .mat-form-field-subscript-wrapper {
    margin-top: .5416666667em;
    top: calc(100% - 1.6666666667em);
}
.mat-form-field-subscript-wrapper {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
}
.mat-form-field-subscript-wrapper {
    font-size: 75%;
    margin-top: .6666666667em;
    top: calc(100% - 1.7916666667em);
}
.mat-form-field-subscript-wrapper {
    /* font-size: 75%; */
    margin-top: .6666666667em;
    top: calc(100% - 1.7916666667em);
}
.mat-error {
    color: #f44336;
}
.auth__group {
    margin-top: 1rem;
    margin-bottom: 2rem;
    width: 100%;
    display: flex;
}
.auth__group .btn-sign:disabled {
    opacity: .5;
}
.auth__group .btn-sign {
    background-color: #005dfe;
    border: 1px solid #005dfe;
    max-width: 100%;
    height: 50px;
    border-radius: 25px;
}
.mat-button.mat-primary, .mat-stroked-button.mat-primary, button.mat-stroked-button {
    overflow: hidden;
    white-space: normal;
    line-height: 1.3;
    padding: 10px;
}
.auth__group .btn-sign span.mat-button-wrapper {
    font-size: 20px;
    font-weight: 500;
    color: #fff;
}
.auth__body .checkbox-remember-me {
    margin-bottom: 1.8755em;
}
.form-control mat-checkbox {
    margin-top: .625em;
    display: block;
}
.mat-checkbox {
    transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}
.mat-checkbox-layout {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: inherit;
    align-items: baseline;
    vertical-align: middle;
    display: inline-flex;
    white-space: nowrap;
}
.mat-checkbox-inner-container {
    display: inline-block;
    height: 16px;
    line-height: 0;
    margin: auto;
    margin-right: 8px;
    order: 0;
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
    width: 16px;
    flex-shrink: 0;
}
.mat-checkbox-layout {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: inherit;
    align-items: baseline;
    vertical-align: middle;
    display: inline-flex;
    white-space: nowrap;
}
.mat-checkbox {
    transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}
.mat-checkbox {
    font-family: Roboto,"Helvetica Neue",sans-serif;
}
.mat-checkbox-input {
    bottom: 0;
    left: 50%;
}
input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}
.cdk-visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    outline: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
}
input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.mat-checkbox .mat-checkbox-ripple {
    position: absolute;
    left: calc(50% - 20px);
    top: calc(50% - 20px);
    height: 40px;
    width: 40px;
    z-index: 1;
    pointer-events: none;
}
.mat-ripple {
    overflow: hidden;
    position: relative;
}
.mat-checkbox-inner-container {
    display: inline-block;
    height: 16px;
    line-height: 0;
    margin: auto;
    margin-right: 8px;
    order: 0;
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
    width: 16px;
    flex-shrink: 0;
}
.mat-checkbox .mat-ripple-element {
    background-color: #000;
}
.mat-checkbox-persistent-ripple, .mat-checkbox.mat-checkbox-disabled .mat-checkbox-inner-container:hover .mat-checkbox-persistent-ripple {
    opacity: 0;
}
.mat-checkbox-persistent-ripple {
    width: 100%;
    height: 100%;
    transform: none;
}
.mat-ripple-element {
    position: absolute;
    border-radius: 50%;
    pointer-events: none;
    transition: opacity,transform 0s cubic-bezier(0,0,.2,1);
    transform: scale(0);
}
.mat-checkbox-frame {
    background-color: transparent;
    transition: border-color 90ms cubic-bezier(0,0,.2,.1);
    border-width: 2px;
    border-style: solid;
}
.mat-checkbox-background, .mat-checkbox-frame {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    border-radius: 2px;
    box-sizing: border-box;
    pointer-events: none;
}
.mat-checkbox-frame {
    border-color: rgba(0,0,0,.54);
}
.mat-checkbox-layout {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: inherit;
    align-items: baseline;
    vertical-align: middle;
    display: inline-flex;
    white-space: nowrap;
}
.mat-checkbox-background {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    transition: background-color 90ms cubic-bezier(0,0,.2,.1),opacity 90ms cubic-bezier(0,0,.2,.1);
}
.mat-checkbox-background, .mat-checkbox-frame {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    border-radius: 2px;
    box-sizing: border-box;
    pointer-events: none;
}
.mat-checkbox-checkmark {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    width: 100%;
}
.mat-checkbox-checkmark {
    fill: #fafafa;
}
svg {
    overflow: hidden;
    vertical-align: middle;
}
.mat-checkbox-checkmark-path {
    stroke-dashoffset: 22.91026;
    stroke-dasharray: 22.91026;
    stroke-width: 2.13333px;
}
.mat-checkbox-checkmark-path {
    stroke: #fafafa!important;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #2196f3;
}
.mat-checkbox-background {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    transition: background-color 90ms cubic-bezier(0,0,.2,.1),opacity 90ms cubic-bezier(0,0,.2,.1);
}
.mat-checkbox-checked .mat-checkbox-checkmark-path {
    stroke-dashoffset: 0;
}
.mat-checkbox-checkmark-path {
    stroke-dashoffset: 1;
    stroke-width: 2.13333px;
}

.super-snatchbot-origin-inputs {
    background-color: transparent !important;
    border: none !important;
    height: 40px;
}
.stroke-dashoffset-to-active { /* для активации галочки в патх */
    stroke-dashoffset: 1;
}

.deployedBot {
    background-color: deepskyblue;
}

.alert {
    position: fixed;
    top: 70px;
    right: 0;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert-primary {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}

.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}
button.close {
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}